body {
	max-width: 1024px;
	font-family: Helvetica, Arial, sans-serif; background-image: url(dark-wood-backgrounds.jpg)
;}

header{ font-family: 'Pacifico', cursive; color:white;text-align: center;font-size: 30px;}

#span {color: darkgreen;}

button {
	width: 44px;
	height: 44px; border-radius: 2px;
}

#content {
	width: 1000px; height: auto; padding-left: 400px;
}

.titleArea {
	position: relative;
	top: 480px;
	padding: 18px;
	background-color: rgba(0,0,0,0.15);
	color: #854;
}

.titleArea > h2 {
	font-size: 2.4em;
}

.slide {
	width: 800px;
	height: 700px;
	overflow: hidden;
}